# 复制为 .env（不要提交）后按需填写
PYTHONUTF8=1

# 通用
TELEGRAPH_TOKEN=

# eh
BOT_TOKEN=
MAIN_CHANNEL_ID=@cos4khd
EH_MEMBER_ID=
EH_PASS_HASH=
EH_CF_CLEARANCE=
AGNES_API_KEY=
AGNES_MODEL=agnes-2.0-flash
AGNES_BASE_URL=https://apihub.agnes-ai.com/v1

# meirentu
TG_TOKEN=
TG_CHAT_ID_A=
TG_CHAT_ID_B=
VIP_LINK=

# 4khd
TG_TOKEN_4KHD=
TG_CHAT_ID_4KHD=
TG_GROUP_ID=
AI_API_KEY=
AI_BASE_URL=https://api.deepseek.com
AI_MODEL=deepseek-chat
